<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../"}) %>
    <%- include("../../includes/header.ejs") %>
    <%- include("../../includes/tutorial-page-layout-start.ejs", {pathToTutorialFolder: "./", activeLink: "mvc-vzor"}) %>
        <h1 class="heading-primary u-mb-4">MVC vzor</h1>
        <p class="paragraph u-mb-4">Tato část je o MVC. Jedná se o návrhový vzor, který odděluje data, prezentační logiku a business logiku. Jeho použití má spoustu výhod, jako je třeba lepší čitelnost kódu, údržba, testovatelost, snadnější práce v týmu, a tak podobně.</p>
        <h2 class="heading-secondary u-mb-2">Komponenty MVC vzoru</h2>
        <p class="paragraph u-mb-2">MVC vzor se skládá ze tří komponent: Model, View a Controller. Následující tabulka je popisuje.</p>
        <table class="table u-mb-2">
            <thead>
                <tr>
                    <th>Komponenta</th>
                    <th>Popis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Model</td>
                    <td>Reprezentuje datovou část aplikace.</td>
                </tr>
                <tr>
                    <td>View</td>
                    <td>Zobrazuje data, reprezentovaná modelem.</td>
                </tr>
                <tr>
                    <td>Controller</td>
                    <td>Představuje rozhraní mezi modelem a view. Zpracovává příchozí requesty. Komunikuje s modelem (získává/aktualizuje/vytváří data) a vybírá view (stránku), která se pošle klientovi (stránce případně předává k zobrazení získaná data).</td>
                </tr>
            </tbody>
        </table>
        <p class="paragraph u-mb-2">V kontextu servletů a JSP je většinou controller reprezentován servletem, view JSP stránkou a model může představovat třeba Java bean třída. Pokud například používáme nějaký framework, ORM nástroj, a tak podobně, tak to samozřejmě může být trochu jinak.</p>
        <p class="paragraph u-mb-4">Funguje to tak, že servlety (controllery) přijímají ke zpracování requesty. Pokud například klient pošle request pro nějakou stránku, na které se mu mají v tabulce vypsat všechny položky z databáze, tak servlet, který je k tomu určený, získá položky z modelu (zavolá metodu nějaké třídy, která mu je vrátí) a předá je do JSP stránky (view) k zobrazení v tabulce.</p>
        <img src="../../static/img/illustrations/MVCVzor.svg" alt="MVC vzor" class="image image--full-width u-mb-6">
        <h2 class="heading-secondary u-mb-2">Ukázka použití MVC</h2>
        <p class="paragraph u-mb-2">Pro ukázku MVC vzoru si vytvoříme aplikaci, ve které bude mít uživatel možnost vytvářet, mazat a zobrazovat položky (textové poznámky). Aplikace bude obsahovat dvě stránky. Úvodní stránku, která uživatele v aplikaci jen přivítá, a stránku s položkami, na které si uživatel bude moci své položky prohlížet, mazat, nebo si případně vytvářet nové.</p>
        <p class="paragraph u-mb-2">Založíme si nový Maven projekt a začneme tím, že si do souboru pom.xml kromě závislosti pro servlety přidáme také závislost pro JSTL. Budeme jej totiž v JSP stránkách používat.</p>
        <%- include("./includes/mvc-example-code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Nejprve si vytvoříme stránku, která uživatele v aplikaci přivítá. V tomto případě je to jednoduché. Servlet (controller) jen nastaví stránku, která se má vyrenderovat. Nebude do ní předávat žádná data k zobrazení.</p>
        <p class="paragraph u-mb-2">Jelikož nyní nechceme, aby k JSP stránkám měli uživatelé přímý přístup, tak je budeme ukládat do složky WEB-INF. K této složce totiž uživatelé přístup nemají. Vytvoříme tedy složku WEB-INF a v ní složku jsp, do které budeme JSP stránky ukládat. Uvnitř jsp složky vytvoříme stránku "Home.jsp" představující domovskou stránku. Následující ukázka ukazuje její kód. Jen zobrazuje uvítací text a odkaz na stránku s položkami.</p>
        <%- include("./includes/mvc-example-code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Teď si vytvoříme servlet, který pojmenujeme jako HomeController. Bude sloužit jen k tomu, že zobrazí JSP stránku (vytvoří request dispatcher a předá request ke zpracování do JSP stránky). Servlety (controllery) budeme vytvářet v nějakém Java balíčku (např. io.github.jirkasa.controllers). Následující ukázka ukazuje kód servletu.</p>
        <%- include("./includes/mvc-example-code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Vytvoříme si soubor web.xml a servlet si namapujeme na nějaké URL. Použijeme také element welcome-file-list, který jsme v tutoriálu zatím nepoužili. Ten slouží k nastavení hlavní stránky aplikace. Jeho podelementem je element welcome-file, pomocí kterého můžeme nastavit URL, které se má pro hlavní stránku použít. Pokud máme welcome-file elementů více, tak se použije první, pro který se najde stránka. Následující ukázka obsah našeho web.xml souboru ukazuje. Servlet mapujeme na "/home", ale používáme jej také jako hlavní stránku aplikace.</p>
        <%- include("./includes/mvc-example-code-box-4.ejs") %>
        <p class="paragraph u-mb-2">Protože jsme si servlet namapovali jako hlavní stránku, tak se vám spustí i po otevření <a href="http://localhost:8080/mvc-vzor/" target="_blank" class="link">http://localhost:8080/mvc-vzor/</a>. Uvidíte tedy stránku, kterou ukazuje následující obrázek.</p>
        <img src="../../static/img/screenshots/MVCPrikladHlavniStranka.png" alt="úvodní stránka aplikace" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Teď začneme s tvorbou stránky s položkami. Jako první začneme vytvářet bean třídu (model), která bude představovat položku. Pro modely vytvoříme nový Java balíček (třeba io.github.jirkasa.models) a uvnitř něj třídu Item. Kód pro ni ukazuje následující ukázka. Jako vlastnosti má "id" (unikátní identifikátor položky), "text" (text položky) a "createdAt" (datum a čas vytvoření položky).</p>
        <%- include("./includes/mvc-example-code-box-5.ejs") %>
        <p class="paragraph u-mb-2">Kromě toho, že třída Item bude reprezentovat položku, tak bude také obsahovat statické metody, s jejichž pomocí budeme moci vytvářet, získávat a mazat položky. Zatím si do ní přidáme jen metodu pro získání všech položek uživatele. Ještě jsme se v tutoriálu neučili, jak pracovat s databází, takže budeme data ukládat v session. V reálné aplikaci by to byl ale špatný nápad, protože po restartu aplikace by uživatel o data přišel. Navíc není dobré v session ukládat větší množství dat. Následující ukázka přidává do třídy Item statickou metodu getAll, která jako parametr přijímá session a vrací uživatelovy položky.</p>
        <%- include("./includes/mvc-example-code-box-6.ejs") %>
        <p class="paragraph u-mb-2">Teď si vytvoříme servlet (controller), který zavoláním metody getAll třídy Item získá uživatelovy položky a předá je k zobrazení na stránce. Můžeme jej pojmenovat jako ItemsController a umístit do Java balíčku pro controllery. Následující ukázka ukazuje jeho kód.</p>
        <%- include("./includes/mvc-example-code-box-7.ejs") %>
        <p class="paragraph u-mb-2">V souboru web.xml servlet namapujeme na "/polozky", jak ukazuje následující ukázka.</p>
        <%- include("./includes/mvc-example-code-box-8.ejs") %>
        <p class="paragraph u-mb-2">Servlet ItemsController zobrazuje stránku "Items.jsp". Vytvoříme ji tedy. Zatím v ní jen vypíšeme položky, které do ní servlet předává, nebo zobrazíme zprávu, že uživatel žádné položky momentálně vytvořené nemá. Následující ukázka kód stránky ukazuje. Myslím, že když se na něj podívate, tak pochopíte jak to funguje. Pro procházení položek se používá forEach tag z JSTL knihovny, o kterém jste si mohli přečíst v minulé části. Pro každou položku se v tabulce vytváří jeden řádek.</p>
        <%- include("./includes/mvc-example-code-box-9.ejs") %>
        <p class="paragraph u-mb-2">Po kliknutí na "Pokračovat do aplikace" na hlavní stránce nebo otevření <a href="http://localhost:8080/mvc-vzor/polozky" target="_blank" class="link">http://localhost:8080/mvc-vzor/polozky</a> by se vám stránka měla zobrazit. Zatím samozřejmě ještě nemáme vytvořené žádné položky.</p>
        <img src="../../static/img/screenshots/MVCPrikladPrazdnaStrankaSPolozkami.png" alt="prázdná stránka s položkami" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Logiku pro zobrazování položek sice naprogramovanou máme, ale zatím ještě nemůžeme žádné položky vytvářet. To teď napravíme. Do stránky si přidáme formulář s inputem pro zadání textu položky a tlačítkem pro jeho odeslání. Formulář bude odkazovat na stejný servlet, který stránku poslal, ale odešle se metodou POST. Následující ukázka ukazuje upravený kód stránky.</p>
        <%- include("./includes/mvc-example-code-box-10.ejs") %>
        <p class="paragraph u-mb-2">V servletu ItemsController implementujeme metodu doPost, ve které budeme na odeslání formuláře reagovat. Než to ale uděláme, tak si do třídy Item přidáme metodu create pro vytvoření nové položky. Následující ukázka ji ukazuje.</p>
        <%- include("./includes/mvc-example-code-box-11.ejs") %>
        <p class="paragraph u-mb-2">Teď v servletu ItemsController vytvoříme metodu doPost a metodu create třídy Item v ní pro vytvoření nové položky použijeme. Poté znova vyrenderujeme stránku s položkami. Jelikož tuto operaci děláme i v metodě doGet, tak na to vytvoříme samostatnou metodu. Následující ukázka ukazuje upravený kód.</p>
        <%- include("./includes/mvc-example-code-box-12.ejs") %>
        <p class="paragraph u-mb-2">Můžete si pár položek zkusit přidat. Zobrazí se vám na stránce v tabulce.</p>
        <img src="../../static/img/screenshots/MVCPrikladStrankaSPolozkami.png" alt="stránka s položkami" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Nyní nám již zbývá jen přidat funkcionalitu pro mazání položek. To si zkusíme udělat přes JavaScript, jelikož pro mazání budeme používat HTTP metodu DELETE, kterou HTML formuláře nepodporují. Začneme tím, že pro mazání položek přidáme do třídy Item statickou metodu deleteById, která smaže položku podle předaného identifikátoru. Ukazuje ji následující ukázka. Jako návratový typ má hodnotu boolean, která určuje, zda se položka smazala nebo ne.</p>
        <%- include("./includes/mvc-example-code-box-13.ejs") %>
        <p class="paragraph u-mb-2">Teď můžeme do servletu ItemsController přidat metodu doDelete, která z query parametru získá id položky, která se má odstranit, a použitím metody deleteById třídy User ji odstraní. Následující ukázka ji ukazuje.</p>
        <%- include("./includes/mvc-example-code-box-14.ejs") %>
        <p class="paragraph u-mb-2">Jak jsem psal, tak mazání položek budeme provádět přes JavaScript. Ve složce webapp si tedy vytvoříme JavaScript soubor, který pojmenujeme třeba jako "ItemsPage.js". Tento soubor bude obsahovat funkci, kterou budeme moci volat pro smazání položky. Následující ukázka obsah tohoto JavaScript souboru ukazuje. Pokud JavaScriptu příliš nerozumíte, tak nevadí, tento tutoriál je o servletech. Stačí vám vědět, že když tuto funkci zavoláte, tak se pošle HTTP request pro smazání položky a stránka se znovu načte.</p>
        <%- include("./includes/mvc-example-code-box-15.ejs") %>
        <p class="paragraph u-mb-2">Script si na stránku napojíme a u tlačítka pro smazání položky nastavíme onclick atribut, pomocí kterého zavoláme funkci pro smazání položky, když se na tlačítko klikne. Následující ukázka ukazuje upravenou stránku.</p>
        <%- include("./includes/mvc-example-code-box-16.ejs") %>
        <p class="paragraph u-mb-6">Teď již máme možnost položky i mazat. Naše aplikace je tedy hotová.</p>
        <p class="paragraph">Na závěr této části bych chtěl jen zmínit, že aplikace, kterou jsme si v této části naprogramovali není úplně ideální. V praxi by se to určitě dalo naprogramovat o dost lépe. Myslím si ale, že podstatu MVC vzoru ilustruje celkem dobře a o to nám v této části šlo.</p>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>