<%- include("../includes/page-start.ejs", {pathToRootFolder: "../"}) %>
    <%- include("../includes/header.ejs") %>
    <%- include("../includes/tutorial-page-layout-start.ejs", {pathToTutorialFolder: "../tutorial/"}) %>
        <h1 class="heading-primary u-mb-4">Obsah</h1>
        <p class="paragraph u-mb-2">Na této stránce se nachází odkazy na specifické části tutoriálu.</p>
        <ul class="list">
            <li></li>
        </ul>
    <%- include("../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../includes/footer.ejs") %>
<%- include("../includes/page-end.ejs") %>