<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../"}) %>
    <%- include("../../includes/header.ejs") %>
    <%- include("../../includes/tutorial-page-layout-start.ejs") %>
        <h1 class="heading-primary u-mb-4">Příprava pro vývoj</h1>
        <p class="paragraph u-mb-4">Vítejte v tutoriálu o tvorbě webových aplikací pomocí servletů a JSP. Jedná se o technologie z Java Enterprise Edition. Tento...[dopsat a napsat že instalace je ukázána jen pro operační systém Windows.]</p>
        <h2 class="heading-secondary u-mb-2">Co pro vývoj potřebujeme</h2>
        <p class="paragraph u-mb-1">Abychom mohli začít s vývojem, potřebujeme si nainstalovat následující věci:</p>
        <ul class="list u-mb-4">
            <li><strong>JDK</strong> - budeme programovat v Javě, takže potřebuje Java Development Kit</li>
            <li><strong>Webový server</strong> - budou na něm běžet naše servlety</li>
            <li><strong>IDE</strong> - aplikace ve které budeme programovat</li>
            <li><strong>Databáze</strong> - pokud budeme chtít v naší aplikaci pracovat s databází</li>
        </ul>
        <h2 class="heading-secondary u-mb-2">Instalace JDK</h2>
        <p class="paragraph u-mb-2">Začneme s instalací JDK. Pokud programujete v Javě, tak jej již určitě máte nainstalovaný a můžete tuto část přeskočit. Já jsem se instalaci JDK do tohoto tutoriálu rozhodl přidat jen pro úplnost.</p>
        <p class="paragraph u-mb-2">Jak JDK nainstalovat ukazuje následující slider s popsanými obrázky, který si můžete projít.</p>
        <%- include("./includes/jdk-installation-slider.ejs") %>
        <p class="paragraph u-mb-2">Po instalaci JDK bychom také měli nastavit systémovou proměnnou JAVA_HOME, protože některé programy by bez ní neběželi správně. Eclipse IDE to třeba nepotřebuje, ale například Tomcat (webový server, který budeme používat) ano. Následující slider ukazuje, jak systémovou proměnnou JAVA_HOME nastavit.</p>
        <%- include("./includes/java-home-setup-slider.ejs") %>
        <h2 class="heading-secondary u-mb-2">Instalace Tomcatu</h2>
        <p class="paragraph u-mb-2">Jako webový server budeme používat Tomcat. Jak jsem již psal na začátku, tak servlety a JSP jsou součástí Java Enterprise Edition (Java EE). Co za technologie do Javy EE patří, si můžete prohlédnout v <a href="https://www.oracle.com/java/technologies/javaee/javaeetechnologies.html" target="_blank" class="link">tomto listu</a>. Java EE je ale v podstatě jen taková abstraktní kolekce specifikací. Potřebujeme její implementaci - to znamená nějaký aplikační server. Na tomto serveru budeme své aplikace spouštět.</p>
        <p class="paragraph u-mb-2">Tomcat se liší od jiných aplikačních serverů jako je třeba GlassFish nebo WildFly tím, že podporuje jen malé množství technologií, které Java EE nabízí. Co podporuje za technologie si můžete přečíst třeba v <a href="https://stackoverflow.com/questions/2857077/which-technologies-does-tomcat-support" target="_blank" class="link">této StackOverflow otázce</a>, která obsahuje velmi dobrou odpověď. Pokud bychom ale chtěli, tak jak se můžete v odpovědi této otázky dočíst, můžeme si nějaké technologie z Javy EE přidat sami poskytnutím JAR souborů.</p>
        <p class="paragraph u-mb-2">V následujícím slideru se dozvíte, jak Tomcat nainstalovat.</p>
        <%- include("./includes/tomcat-installation-slider.ejs") %>
        <h2 class="heading-secondary u-mb-2">Instalace Eclipse IDE</h2>
        <p class="paragraph u-mb-2">K programování potřebujeme nějaké vývojové prostředí (IDE), abychom mohli komfortně psát kód a snadněji se nám vyvíjeli aplikace. Pokud programujete v Javě, tak již pravděpodobně nějaké nainstalované máte. Můžete jej tedy klidně použít, akorát budete muset přijít na to, jak jej nakonfigurovat pro použití s Tomcatem. V tomto tutoriálu si ale ukážeme, jak nainstalovat a nakonfigurovat IDE jménem Eclipse. Instalaci ukazuje následující slider.</p>
        <%- include("./includes/eclipse-installation-slider.ejs") %>
        <p class="paragraph u-mb-4">Jak Eclipse používat tu popisovat nebudu. Jen jsem vám ukázal jak jej stáhnout a na to jak jej používat si můžete najít nějaký jiný tutoriál.</p>
        <h2 class="heading-secondary u-mb-2">Vytvoření projektu</h2>
        <p class="paragraph u-mb-2">Teď již máme nainstalováno vše, co je potřebné pro vytvoření jednoduchého projektu. Pustíme se tedy do toho a vytvoříme si jednoduchou "Hello World" aplikaci. Zároveň si při tom nastavíme Tomcat v Eclipsu.</p>
        <p class="paragraph u-mb-2">Budeme vytvářet Maven projekt. Pokud nevíte co to Maven je nebo s ním nemáte žádné zkušenosti, tak nevadí. Já na něj v době psaní tohoto tutoriálu také nejsem žádný expert. Nebudeme jej nijak složitě konfigurovat. Jen si ukážeme jak si vytvořit projekt a dozvíte se co to je. Jak Maven projekt vytvořit v Eclipse ukazuje následující slider.</p>
        <%- include("./includes/create-maven-project-slider.ejs") %>
        <p class="paragraph u-mb-2">V následující ukázce si můžete po otevření levého panelu prohlédnou adresářovou strukturu našeho vytvořeného projektu.</p>
        <%- include("./includes/code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Projekt vlastně obsahuje <a href="https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html" target="_blank" class="link">standardní Maven adresářovou strukturu</a>. V kořenové složce projektu máme složku src, target a soubor pom.xml. Složka src slouží pro ukládání souborů naší aplikace. Do složky target nám Maven naši aplikaci sestavuje, nic do ní tedy neukládáme. Tady na webu v ukázkách bude tato složka vždy prázdná, ale pokud si ji otevřete u sebe, tak tam uvidíte vaši sestavenou aplikaci. Soubor pom.xml slouží ke konfiguraci Maven projektu. Můžeme si do něj třeba napsat, že chceme používat nějakou Java knihovnu. Maven si obsah souboru pom.xml přečte a automaticky nám knihovnu stáhne abychom ji mohli používat. Nemusíme si ji tedy stahovat ručně. A to je jen jedna z věcí, se kterými nám Maven pomáhá. Tento kurz ale není o Mavenu, takže nebudu zabíhat do detailů. Také ani nemůžu, protože v době psaní tohoto tutoriálu toho o něm ještě moc nevím.</p>
        <p class="paragraph u-mb-1">Složka src dále obsahuje složky main a test. Složka main slouží pro zdrojové soubory naší aplikace a složka test pro její testy. Pokud bychom tedy chtěli pro naši aplikaci napsat testy, tak je umístíme do složky test. Ve složce main najdete zatím prázdné složky jménem java, resources a webapp. Zde je popsáno k čemu slouží:</p>
        <ul class="list u-mb-2">
            <li><b>src/main/java</b> - obsahuje Java soubory (obsahuje vlastně klasickou hierarchii pro java balíčky)</li>
            <li><b>src/main/resources</b> - může obsahovat třeba různé XML soubory, .properties soubory, atd. (prostě věci, které nejsou Java soubory)</li>
            <li><b>src/main/webapp</b> - obsahuje soubory pro webovou aplikaci (třeba různé javascript soubory, CSS styly, atd.)</li>
        </ul>
        <p class="paragraph u-mb-2">Pokud jste ještě nikdy v Eclipse nevytvářeli žádný projekt pomocí Mavenu nebo jej máte nově naintalovaný, tak po otevření souboru pom.xml uvidíte, že vám Eclipse hlásí chybu. Jak tuto chybu vyřešit ukazuje následující slider.</p>
        <%- include("./includes/eclipse-javadoc-error-slider.ejs") %>
        <p class="paragraph u-mb-2">Chybu v pom.xml jsme opravili a můžeme tedy začít s tím, že si náš Maven projekt nakonfigurujeme. Jak jsem již psal, používá se k tomu soubor pom.xml. První věc, kterou uděláme, je přidání elementu properties, kde nastavíme pár vlastností, jak ukazuje následující ukázka.</p>
        <%- include("./includes/code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Vlastnost project.build.sourceEncoding a project.reporting.outputEncoding nastavuje kódování. K čemu přesně to slouží nevím, jen přidávám tyto řádky kódu do každého Maven projektu, který vytvářím. Jak jsem již psal, tak Mavenu v době psaní tohoto tutoriálu zatím moc nerozumím. Na dalším řádku nastavujeme vlastnost java.version, kterou používáme na posledních dvou řádcích, pomocí kterých nastavujeme verzi Javy, která se má použít.</p>
        <p class="paragraph u-mb-2">Nyní si nadefinujeme, co za knihovny chceme v našem projektu použít. Budeme potřebovat servlety, takže si je v pom.xml připíšeme do části dependencies, jak ukazuje následující ukázka.</p>
        <%- include("./includes/code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Kód, který ukázka ukazuje, jsem zkopíroval z <a href="https://mvnrepository.com/search?q=servlet" target="_blank" class="link">www.mvnrepository.com</a>. Tento web můžete použít k vyhledávání Maven repozitářů a kopírovat si odtamtud kód, který si můžete přidávat do části dependencies pro jejich použití. Slovo dependencies vlastně česky znamená závislosti. Definujeme tam tedy věci, na kterých je náš projekt závislý. Můžeme mít libovolný počet závislostí (dependency elementů). Každý dependency element se skládá z vlastností groupId, artifactId, version a scope. Co tyto jednotlivé vlastnosti znamenají popisuje následující seznam:</p>
        <ul class="list u-mb-2">
            <li><b>groupId</b> - jedinečný název společnosti nebo skupiny, která projekt vytvořila</li>
            <li><b>artifactId</b> - unikátní název projektu</li>
            <li><b>version</b> - verze projektu</li>
            <li><b>scope</b> - může být typu "compile", "provided", "runtime", "test", "system" nebo "import" (v našem případě používáme provided - to znamená, že implementaci pro servlety nám poskytne Tomcat)</li>
        </ul>
        <p class="paragraph u-mb-2">Teď již máme nastaveno vše pro to, abychom mohli začít se samotným programováním servletů. Vytvoříme tedy třídu, kterou pojmenujeme třeba jako HelloWorldServlet a nastavíme jí, že dědí od třídy HttpServlet z balíčku javax.servlet.http.</p>
        <%- include("./includes/code-box-4.ejs") %>
        <p class="paragraph u-mb-2">Jelikož jde v této části jen o to, abychom si vůbec zkusili spustit alespoň úplně jednoduchý projekt, tak tu nebudu zatím nic podrobně vysvětlovat. Náš první servlet jen vyrenderuje stránku s nápisem "Hello World". Můžete si tedy jen zkopírovat kód z následující ukázky.</p>
        <%- include("./includes/code-box-5.ejs") %>
        <p class="paragraph u-mb-2">Teď musíme Tomcatu dát vědět, kdy má náš servlet spustit. To můžeme nastavit pomocí souboru web.xml. Ten se umisťuje do složky WEB-INF, kterou můžeme vytvořit ve složce webapp. Z následující ukázky si můžete pro tento soubor zkopírovat základní kód. Nebo si jej můžete zkopírovat <a href="https://docs.oracle.com/cd/E24329_01/web.1211/e21049/web_xml.htm#WBAPP503" target="_blank" class="link">odsud</a>.</p>
        <%- include("./includes/code-box-6.ejs") %>
        <%- include("./includes/test8.ejs") %>
        <%- include("./includes/test7.ejs") %>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>



<!-- todo - ta složka WEB-INF -->
























<!--
    - úvod
        - dopsat
    - instalace je ukázána jen pro windows
    - konfigurace mavenu při startu projektu
    - vytvoření projektu
    - stažení IDE
    - nastavení klávesnice v Eclipse
    - JSP a Servlety jsou součástí Java EE
    - instalace Tomcat
    - zastavení Tomcatu
    - Maven
    - MySQL - pro část s databází

    - target složku zobrazovat jen v první ukázce (potom asi už ne - nebo možná jo, ale napsat, že se tam aplikace buildí a že ji tam tedy v Eclipse najdou sestavenou - tady v ukázkách na webu v ní není nic)

    - slidery dát do includes složky

    - eclipse workspace je jednoduše složka, kde budeme ukládat zdrojové kódy našich projektů
        - můžeme ji tak nechat, nebo vybrat jinou (asi bych doporučoval vytvořit si na to něco podle sebe)

    - eclipse 'download packages'

    - po instalaci Eclipse zkusit jestli to funguje, vytvořit základní zkušební projekt, a až poté nainstalovat MySQL

    - u dependencies vysvětlit co jednotlivé možnosti znamenají (a ukázat i screenshoty s mvnrepository)
    
    - jak eclipse používat se budou muset naučit v nějakém jiném tutoriálu
        - tento tutoriál počítá s tím, že už máte s Javou nějaké zkušenosti, takže jste již nějaké IDE používali a základní věci jako jak vytvořit Java balíček, třídu, atd. víte
    
    - uvidím jestli nebudu muset stáhnout maven

    - přidání projektu do Tomcatu

    - samostatná část - přidání Tomcat Serveru do Eclipsu

    - war - web archive

    - velké J v deklaraci.. web.xml - řádek

    - při přidávání nového tomcat serveru poprvé se vybírá složka s tomcatem

    - po uložení nastavení Tomcat serveru v eclipse dát Ctrl + S

    - tomcat screenshot 19: po kliknutí na šipku vedle... se otevře co v Tomcat serveru servírujeme za aplikace

    - start the mysql server at startup - doporučuji (nezabere to moc paměti)
    
    - pokud by při stahování došlo k nějaké chybě, tak ať se vrátí zpátky, smažou co se nainstalovalo dobře, a znovu zkusili instalování pustit (mě se to stalo, proto je na screenu jen jedna položka)
    - pokud by potřebovali potom třeba ještě něco později doinstalovat, tak ten installer můžou spustit znovu

    - i trochu vysvětlit ten pom.xml
 -->