<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../"}) %>
    <%- include("../../includes/header.ejs") %>
    <%- include("../../includes/tutorial-page-layout-start.ejs") %>
        <h1 class="heading-primary u-mb-4">JSP direktivy</h1>
        <p class="paragraph u-mb-4"></p>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>

<!-- 
    
 -->

<!--
    - https://www.javatpoint.com/servlet-filter
        - možná na to přidat odkaz - na celý ten tutoriál
    - https://www.javatpoint.com/jsp-page-directive
        - tady je na JSP
            - určitě na tyto tutoriály přidám odkaz, je to dobře napsaný - mnohem lépe než moje
                - mají tam i tutoriál na Struts2 a Hibernate
    
    - ještě existuje META-INF, potom se musím podívat k čemu to slouží
    - někde ještě přidat, jak vytvořit custom error pages
        - jo, k tomu se vlastně ještě ten pageContext používá, můžeme s jeho pomocí získat na stránce chybu
    
    JEŠTĚ POTŘEBUJU
        - ještě budu potřebovat část, kde tady to nastavení custom stránek ukážu
 -->