<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../", title: "HTTP Servlet", metaDescription: "V této části tutoriálu si ukážeme, jak můžeme vytvořit servlet zděděním třídy HttpServlet.", useHighlightJS: true}) %>
    <%- include("../../includes/header.ejs", {pathToRootFolder: "../../", activeLink: "tutorial"}) %>
    <%- include("../../includes/tutorial-page-layout-start.ejs", {pathToTutorialFolder: "./", activeLink: "http-servlet"}) %>
        <h1 class="heading-primary u-mb-4">HTTP Servlet</h1>
        <p class="paragraph u-mb-4">V minulé části jste se dozvěděli co to jsou servlety a k čemu slouží. Také jste se mohli dozvědět, že existují v podstatě tři cesty jak vytvořit servlet. První dvě jsme si ukázali v minulé části. V této části si ukážeme vytvoření servletu zděděním třídy HttpServlet.</p>
        <h2 id="trida-httpservlet" class="heading-secondary u-mb-2">Třída HttpServlet</h2>
        <p class="paragraph u-mb-2">Pokud chceme vytvořit servlet, který pracuje pouze s protokolem HTTP, tak je nejlepší jej vytvořit zděděním třídy <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServlet.html" target="_blank" class="link">HttpServlet</a>. Předchozí dvě možnosti tvorby servletů, které jsme si ukázali v minulé části, se hodí hlavně pro tvorbu servletů využívající jiné protokoly než HTTP. Třída HttpServlet nám totiž poskytuje kromě metody service i metody, které můžeme použít pro reakci na requesty poslané pomocí specifických HTTP metod. Tyto metody ukazuje následující tabulka. Volají se z metody service, kterou za nás implementuje HttpServlet. Nemusíme tedy v metodě service sami zjišťovat, o jaký typ requestu se jedná.</p>
        <div class="table-wrapper u-mb-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Metoda</th>
                        <th>Popis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>doGet(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro GET requesty.</td>
                    </tr>
                    <tr>
                        <td>doHead(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro HEAD requesty.</td>
                    </tr>
                    <tr>
                        <td>doPost(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro POST requesty.</td>
                    </tr>
                    <tr>
                        <td>doPut(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro PUT requesty.</td>
                    </tr>
                    <tr>
                        <td>doDelete(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro DELETE requesty.</td>
                    </tr>
                    <tr>
                        <td>doOptions(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro OPTIONS requesty (pravděpodobně nepoužijete).</td>
                    </tr>
                    <tr>
                        <td>doTrace(HttpServletRequest req, HttpServletResponse res)</td>
                        <td>Volá se pro TRACE requesty (pravděpodobně nepoužijete).</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="paragraph u-mb-4">Možná jste si všimli, že pro metodu PATCH bohužel neexistuje v HttpServlet třídě metoda doPatch. Můžeme si pro ni ale podporu přidat, pokud bychom ji potřebovali. Později si v této části ukážeme, jak to udělat.</p>
        <h2 id="http-servlet-request-a-http-servlet-response" class="heading-secondary u-mb-2">HTTP Servlet Request a HTTP Servlet Response</h2>
        <p class="paragraph u-mb-4">Ve třídě HttpServlet se nepoužívají objekty typu <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html" target="_blank" class="link">ServletRequest</a> a <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletResponse.html" target="_blank" class="link">ServletResponse</a>, jako tomu je u třídy GenericServlet, ale používají se objekty typu <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletRequest.html" target="_blank" class="link">HttpServletRequest</a> a <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletResponse.html" target="_blank" class="link">HttpServletResponse</a>. Jedná se o rozhraní, která rozhraní ServletRequest a ServletResponse rozšiřují a přidávají pár dalších metod, které můžeme použít. Tyto metody si můžete prohlédnout v dokumentaci.</p>
        <h2 id="vytvoreni-http-servletu" class="heading-secondary u-mb-2">Vytvoření HTTP Servletu</h2>
        <p class="paragraph u-mb-2">Pro ukázku vytvoření servletu zděděním třídy HttpServlet si opět vytvoříme servlet, který jen vyrenderuje jednoduchou HTML stránku. Vytvořte si nový Maven projekt (jak to udělat v Eclipse je popsáno v první části tutoriálu), který pojmenujte například jako http-servlet. Poté vytvořte třeba třídu MujServlet, které nastavte, že dědí od třídy HttpServlet.</p>
        <%- include("./includes/code-box-1.ejs") %>
        <p class="paragraph u-mb-2">V naší servlet třídě můžeme implementovat metody, které jsou popsány výše v tabulce, pro zpracování requestů poslaných různými HTTP metodami. V našem případě chceme reagovat jen na GET requesty, takže přepíšeme metodu doGet. Vygenerujeme v ní jen jednoduchou webovou stránku, stejně jako v minulých částech tutoriálu.</p>
        <%- include("./includes/code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Náš servlet je hotový, teď již jen zbývá namapovat jej na URL v souboru web.xml. Vytvoříme tedy ve složce webapp složku WEB-INF a v ní soubor web.xml. Náš servlet můžeme namapovat třeba jako domovskou stránku aplikace napsáním "/" do url-pattern elementu (vlastně to nastaví, že se to zavolá pro jakékoliv URL), jak ukazuje následující ukázka.</p>
        <%- include("./includes/code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Pokud si aplikaci spustíte, tak po navštívení <a href="http://localhost:8080/http-servlet/" target="_blank" class="link">http://localhost:8080/http-servlet/</a> uvidíte stránku, kterou ukazuje následující obrázek.</p>
        <img src="../../static/img/screenshots/StrankaProServletVytvorenyZdedenimHttpServletTridy.png" alt="Stránka pro servlet vytvořený zděděním třídy HttpServlet" class="image image--full-width image--with-border u-mb-6">
        <h2 id="pridani-podpory-pro-metodu-patch" class="heading-secondary u-mb-2">Přidání podpory pro metodu PATCH</h2>
        <p class="paragraph u-mb-2">Jak jsem již psal, tak pro HTTP metodu PATCH neexistuje v HttpServlet třídě metoda doPatch. Můžeme si ji ale sami přidat. Je k tomu potřeba přepsat metodu service, ve které zjistíme, jakou metodou byl poslán request. Pokud byl poslán metodou PATCH, tak zavoláme metodu doPatch, jinak zavoláme metodu service nadtřídy. Následující ukázka ukazuje, jak to udělat.</p>
        <%- include("./includes/add-patch-method-support-code-box.ejs") %>
        <p class="paragraph u-mb-4">To je pro tuto část vše. V příští části si ukážeme různé způsoby, jak ukládat informace o uživateli, když prochází webovými stránkami.</p>
        <div class="u-text-center">
            <a href="../sledovani-relace/" class="button-primary">Pokračovat na další část</a>
        </div>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>