<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../", title: "JSP tagy a implicitní objekty", metaDescription: "V této části tutoriálu si představíme různé typy tagů, které můžeme použít v JSP a také si ukážeme implicitní objekty, které nám jsou v JSP k dispozici.", useHighlightJS: true}) %>
    <%- include("../../includes/header.ejs", {pathToRootFolder: "../../", activeLink: "tutorial"}) %>
    <%- include("../../includes/tutorial-page-layout-start.ejs", {pathToTutorialFolder: "./", activeLink: "jsp-tagy-a-implicitni-objekty"}) %>
        <h1 class="heading-primary u-mb-4">JSP tagy a implicitní objekty</h1>
        <p class="paragraph u-mb-4">V minulé části jste se dozvěděli co je to JSP. V této části si představíme různé typy tagů, které v JSP existují a 3 z nich si ukážeme i na příkladu. Ostatní necháme na další části. Kromě toho se tu dozvíte o implicitních objektech, které jsou nám v JSP k dispozici.</p>
        <h2 id="typy-tagu" class="heading-secondary u-mb-2">Typy tagů</h2>
        <p class="paragraph u-mb-4">V JSP existují různé typy tagů, které slouží k různým účelům. Všechny si je představíme a krátce popíšeme.</p>
        <h3 id="comment-tag" class="heading-tertiary u-mb-1">Comment tag</h3>
        <p class="paragraph u-mb-2">Pokud chceme v JSP psát komentáře, tak k tomu můžeme použít comment tag. Začíná na &lt;%-- a končí na --%&gt;.</p>
        <%- include("./includes/comment-tag-code-box.ejs") %>
        <h3 id="scriptlet-tag" class="heading-tertiary u-mb-1">Scriplet tag</h3>
        <p class="paragraph u-mb-2">Pro psaní Java kódu se používá scriplet tag. Začíná na &lt;% a končí na %&gt;. Může obsahovat deklarace, příkazy nebo jakýkoliv jiný platný Java kód.</p>
        <%- include("./includes/scriplet-tag-code-box.ejs") %>
        <h3 id="expression-tag" class="heading-tertiary u-mb-1">Expression tag</h3>
        <p class="paragraph u-mb-2">Pokud chceme na stránku vložit nějakou hodnotu, tak můžeme použít expression tag. Začíná na &lt;%= a končí na %&gt;. Nemusíme tedy ve scriptletech používat out.println.</p>
        <%- include("./includes/expression-tag-code-box.ejs") %>
        <h3 id="declaration-tag" class="heading-tertiary u-mb-1">Declaration tag</h3>
        <p class="paragraph u-mb-2">Jak jste se v minulé části dozvěděli, JSP se konvertuje na servlet. Pokud v JSP souboru píšeme HTML kód, scriplet tagy a tak podobně, tak vlastně píšeme obsah service metody, kterou bude vygenerovaný servlet mít (v JSP teda obsah _jspService metody, ale na tom nesejde). Pokud namísto toho chceme pro výslednou servlet třídu nadefinovat nějakou metodu nebo vlastnost, tak k tomu můžeme použít declaration tag. Poté tuto metodu nebo vlastnost můžeme používat na různých místech v JSP souboru. Jednoduše nám to umožňuje napsat kód, který se umístí do servlet třídy, ne do service metody. Declaration tag začíná na &lt;%! a končí na %&gt;.</p>
        <%- include("./includes/declaration-tag-code-box.ejs") %>
        <h3 id="direktiva" class="heading-tertiary u-mb-1">Direktiva</h3>
        <p class="paragraph u-mb-2">Direktivy jsou elementy, které web containeru (Tomcatu) říkají, jak má JSP stránku převést na servlet. Začínají na &lt;%@ a končí na %&gt;. Více se o nich naučíme v další části. Můžeme s jejich pomocí například přidat na stránku kód z jiného souboru.</p>
        <%- include("./includes/directive-code-box.ejs") %>
        <h3 id="action-tagy" class="heading-tertiary u-mb-1">Action tagy</h3>
        <p class="paragraph u-mb-2">Action tagy jsou speciální tagy, které nám umožňují do JSP stránky vkládat nějakou specifickou funkcionalitu a ovládat tak její chování. Více se o nich dozvíte v samostatné části. Můžeme například předat request ke zpracování do jiné JSP stránky nebo servletu, jak je to možné pomocí request dispatcheru u klasických servletů.</p>
        <%- include("./includes/action-element-code-box.ejs") %>
        <h3 id="custom-tagy" class="heading-tertiary u-mb-1">Custom tagy</h3>
        <p class="paragraph u-mb-4">Pokud chceme, tak si můžeme vytvořit vlastní tagy. Eliminují používání scriplet tagů o oddělují business logiku od JSP stránky. Naučíme se je vytvářet v samostatné části.</p>
        <h2 id="ukazka-pouziti-skriptovacich-tagu" class="heading-secondary u-mb-2">Ukázka použití skriptovacích tagů</h2>
        <p class="paragraph u-mb-2">V této části si ukážeme jen použití skriptovacích tagů. To znamená scriplet, expression a declaration tagu. Založíme si nový projekt a vytvoříme si JSP stránku, kterou můžeme nazvat třeba jako stranka.jsp. Projekt můžete pojmenovat třeba jako skriptovaci-tagy. Po vytvoření každé JSP stránky je vždy potřeba na začátek přidat řádek, který ukazuje následující ukázka. Jedná se o direktivu, která nastavuje, že JSP soubor generuje HTML stránku a hlavně nastavuje kódování na UTF-8. Bez toho by se nám zobrazovali některé znaky špatně.</p>
        <%- include("./includes/scripting-tags-example-code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Pro začátek si můžeme vytvořit základní HTML kostru stránky.</p>
        <%- include("./includes/scripting-tags-example-code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Nějak mě nenapadlo, jakým smysluplnějším způsobem si skriptovací tagy vyzkoušet. Proto si zkusíme jen takové blbosti. Začneme se scriplet tagem. Jak jsem psal, tak ten nám umožňuje do stránky vložit Java kód. Řekněme, že z nějakého důvodu chceme pod sebe vypsat desetkrát "Ahoj". Použijeme scriplet tagy a vytvoříme si v Java kódu for cyklus, který tento text postupně vypíše. Následující ukázka ukazuje naši upravenou JSP stránku.</p>
        <%- include("./includes/scripting-tags-example-code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Po spuštění aplikace a navštívení <a href="http://localhost:8080/skriptovaci-tagy/stranka.jsp" target="_blank" class="link">http://localhost:8080/skriptovaci-tagy/stranka.jsp</a> si můžete výslednou stránku prohlédnout.</p>
        <img src="../../static/img/screenshots/SkriptovaciTagyUkazkaScripletTagu.png" alt="Vypsání stejného textu desetkrát pod sebe použitím scriplet tagů" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Teď si vyzkoušíme použití expression tagu. Ten slouží k vložení hodnoty z Java kódu na stránku. Na každý řádek k textu vypíšeme navíc ještě číslo řádku. Následující ukázka ukazuje upravený kód.</p>
        <%- include("./includes/scripting-tags-example-code-box-4.ejs") %>
        <p class="paragraph u-mb-2">Nyní se nám po otevření stránky na jednotlivé řádky vypíše také číslo řádku.</p>
        <img src="../../static/img/screenshots/SkriptovaciTagyUkazkaExpressionTagu.png" alt="Vypsání čísla řádku pomocí expression tagu" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Na závěr si ještě vyzkoušíme declaration tag. Nenapadlo mě nic lepšího než vytvořit metodu, která by sloužila k vytvoření textu pro řádek. Jako parametr bychom jí předali číslo a vrátila by vygenerovaný text. Takže to uděláme, metodu si pomocí declaration tagu nadeklarujeme a při generování řádků použijeme. Následující ukázka ukazuje upravený kód.</p>
        <%- include("./includes/scripting-tags-example-code-box-5.ejs") %>
        <p class="paragraph u-mb-4">Výsledná stránka bude vypadat stejně jako předtím, akorát teď používáme k vygenerování textu pro řádek metodu.</p>
        <h2 id="implicitni-objekty" class="heading-secondary u-mb-2">Implicitní objekty</h2>
        <p class="paragraph u-mb-2">V JSP je nám k dispozici 9 implicitních objektů. Tyto objekty jsou vytvářeny web containerem (Tomcatem). Následující tabulka je ukazuje.</p>
        <table class="table u-mb-4">
            <thead>
                <tr>
                    <th>Objekt</th>
                    <th>Typ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>out</td>
                    <td><a href="https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/io/PrintWriter.html" target="_blank" class="link">PrintWriter</a></td>
                </tr>
                <tr>
                    <td>request</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletRequest.html" target="_blank" class="link">HttpServletRequest</a></td>
                </tr>
                <tr>
                    <td>response</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletResponse.html" target="_blank" class="link">HttpServletResponse</a></td>
                </tr>
                <tr>
                    <td>config</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletConfig.html" target="_blank" class="link">ServletConfig</a></td>
                </tr>
                <tr>
                    <td>application</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletContext.html" target="_blank" class="link">ServletContext</a></td>
                </tr>
                <tr>
                    <td>session</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpSession.html" target="_blank" class="link">HttpSession</a></td>
                </tr>
                <tr>
                    <td>pageContext</td>
                    <td><a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/jsp/PageContext.html" target="_blank" class="link">PageContext</a></td>
                </tr>
                <tr>
                    <td>page</td>
                    <td><a href="https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/lang/Object.html" target="_blank" class="link">Object</a></td>
                </tr>
                <tr>
                    <td>exception</td>
                    <td><a href="https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/lang/Throwable.html" target="_blank" class="link">Throwable</a></td>
                </tr>
            </tbody>
        </table>
        <h3 id="objekt-out" class="heading-tertiary u-mb-1">Objekt out</h3>
        <p class="paragraph u-mb-2">Implicitní objekt out je PrintWriter, který můžeme používat stejně jako v servletech. Můžeme s jeho pomocí ve scripletech vypisovat obsah na stránku. Moc bych to ale nedoporučoval dělat.</p>
        <%- include("./includes/implicit-object-out-code-box.ejs") %>
        <h3 id="objekt-request" class="heading-tertiary u-mb-1">Objekt request</h3>
        <p class="paragraph u-mb-2">Implicitní objekt request je HttpServletRequest. Můžeme jej používat stejně jako v servletech.</p>
        <%- include("./includes/implicit-object-request-code-box.ejs") %>
        <h3 id="objekt-response" class="heading-tertiary u-mb-1">Objekt response</h3>
        <p class="paragraph u-mb-2">Implicitní objekt response je HttpServletResponse. Můžeme jej používat stejně jako v servletech.</p>
        <%- include("./includes/implicit-object-response-code-box.ejs") %>
        <h3 id="objekt-config" class="heading-tertiary u-mb-1">Objekt config</h3>
        <p class="paragraph u-mb-2">Implicitní objekt config je ServletConfig, který můžeme použít třeba k získání inicializačního parametru z web.xml.</p>
        <%- include("./includes/implicit-object-config-code-box.ejs") %>
        <p class="paragraph u-mb-2">JSP stránky se v souboru web.xml mapují stejně jako servlety, akorát je potřeba namísto elementu servlet-class použít element jsp-file.</p>
        <%- include("./includes/mapping-jsp-file-code-box.ejs") %>
        <h3 id="objekt-application" class="heading-tertiary u-mb-1">Objekt application</h3>
        <p class="paragraph u-mb-2">Implicitní objekt application je ServletContext, který můžeme použít ke komunikaci s web containerem. Můžeme například získat konfigurační parametr nadefinovaný ve web.xml elementem context-param.</p>
        <%- include("./includes/implicit-object-application-code-box.ejs") %>
        <h3 id="objekt-session" class="heading-tertiary u-mb-1">Objekt session</h3>
        <p class="paragraph u-mb-2">Implicitní objekt session je HttpSession, který můžeme používat stejně jako v servletech.</p>
        <%- include("./includes/implicit-object-session-code-box.ejs") %>
        <h3 id="objekt-pagecontext" class="heading-tertiary u-mb-1">Objekt pageContext</h3>
        <p class="paragraph u-mb-1">Implicitní objekt pageContext je typem PageContext třídy. Může být použit k nastavení, získání nebo odstranění atributu z jednoho z následujích rozsahů:</p>
        <ul class="list u-mb-2">
            <li><b>page</b> - atribut platí pro JSP stránku po dobu životního cyklu aktuálního HTTP requestu</li>
            <li><b>request</b> - atribut platí pro request (v podstatě je to podobné jako page rozsah)</li>
            <li><b>session</b> - atribut platí pro session</li>
            <li><b>application</b> - atribut platí pro celou aplikace (dostaneme se k němu odkudkoliv a je sdílený pro všechny uživatele)</li>
        </ul>
        <p class="paragraph u-mb-2">Následující ukázka ukazuje použití metody setAttribute, které se jako třetí parametr nastavuje, pro jaký scope se má atribut nastavit.</p>
        <%- include("./includes/implicit-object-pagecontext-code-box.ejs") %>
        <p class="paragraph u-mb-4">Objekt pageContext můžeme použít pro více věcí než jen práci s atributy. Co všechno obsahuje za metody si můžete prohlédnout v <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/jsp/PageContext.html" target="_blank" class="link">dokumentaci</a>. Také se ale podívejte na podtřídu <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/jsp/JspContext.html" target="_blank" class="link">JSPContext</a>, ve které najdete další metody.</p>
        <h3 id="objekt-page" class="heading-tertiary u-mb-1">Objekt page</h3>
        <p class="paragraph u-mb-2">Implicitní objekt page je nastaven jako reference na vygenerovaný servlet a je typu Object. Tento objekt se moc nepoužívá, protože je jednodušší používat klíčové slovo this. Objekt page se totiž musí před použitím castovat na HttpServlet, zatímco klíčové slovo this ne. Následující ukázka ukazuje dva řádky kódu, které dělají stejnou věc. První řádek používá objekt page a druhý klíčové slovo this.</p>
        <%- include("./includes/implicit-object-page-code-box.ejs") %>
        <h3 id="objekt-exception" class="heading-tertiary u-mb-1">Objekt exception</h3>
        <p class="paragraph u-mb-2">Implicitní objekt exception můžeme použít k vypsání chyby na chybové stránce, jak ukazuje následující ukázka. Chybová stránka se označuje pomocí direktivy page, kde se nastavuje atribut isErrorPage na true.</p>
        <%- include("./includes/implicit-object-exception-code-box.ejs") %>
        <p class="paragraph u-mb-2">Že se má pro jinou JSP stránku chybová stránka použít, se nastavuje pomocí direktivy page atributem errorPage. Pokud potom v JSP stránce dojde k chybě, tak se nastavená chybová stránka zobrazí.</p>
        <%- include("./includes/errorpage-attribute-code-box.ejs") %>
        <p class="paragraph u-mb-2">To je vše, co jsem chtěl v této části popsat. Dozvěděli jste se jaké tagy a implicitní objekty v JSP existují a k čemu slouží. Direktivy a action elementy jsme do podrobna nerozebírali, protože jsou pro ně vyhrazené následující samostatné části.</p>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>