<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../", title: "Komunikace mezi Servlety", metaDescription: "V této části se budeme zabývat komunikací mezi servlety.", useHighlightJS: true}) %>
    <%- include("../../includes/header.ejs", {pathToRootFolder: "../../", activeLink: "tutorial"}) %>
    <%- include("../../includes/tutorial-page-layout-start.ejs", {pathToTutorialFolder: "../", activeLink: "komunikace-mezi-servlety"}) %>
        <h1 class="heading-primary u-mb-4">Komunikace mezi Servlety</h1>
        <p class="paragraph u-mb-4">Tato část se zabývá komunikací mezi servlety. Servlety na webovém serveru spolu mohou komunikovat a sdílet mezi sebou zdroje jako jsou třeba proměnné.</p>
        <h2 id="request-dispatcher" class="heading-secondary u-mb-2">Request Dispatcher</h2>
        <p class="paragraph u-mb-2">Komunikace mezi servlety je možná díky <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/RequestDispatcher.html" target="_blank" class="link">RequestDispatcher</a> rozraní. Používá se k delegování requestů ze servletu do jiných zdrojů (např. servlet, HTML soubor, JSP soubor...). Servlet může pro request provést nějakou akci a poslat jej dál na jiný servlet pro další zpracování.</p>
        <p class="paragraph u-mb-2">RequestDispatcher můžeme získat z HttpServletRequest objektu pomocí metody <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html#getRequestDispatcher-java.lang.String-" target="_blank" class="link">getRequestDispatcher</a> a použít jej. Rozhraní RequestDispatcher definuje dvě metody, které můžeme pro komunikaci mezi servlety použít. Následující tabulka je popisuje.</p>
        <div class="table-wrapper u-mb-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Metoda</th>
                        <th>Návratový typ</th>
                        <th>Popis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>forward(ServletRequest request, ServletResponse response)</td>
                        <td>void</td>
                        <td>Předá request ze servletu do jiného zdroje (např. servletu, JSP stránky...).</td>
                    </tr>
                    <tr>
                        <td>include(ServletRequest request, ServletResponse response)</td>
                        <td>void</td>
                        <td>Přidá obsah jiného zdroje (např. servletu, JSP stránky...) do response.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="paragraph u-mb-4">Rozdíl mezi metodou forward a include je ten, že když používáme metodu forward, tak v serveletu pro request nejdříve provedeme nějakou akci a poté request předáme pro zpracování do jiného servletu. Metodu include můžeme použít k tomu, že můžeme request předat ke zpracování do jiného servletu, který nám může třeba něco nastavit do response, a poté pokračovat ve zpracování requestu.</p>
        <h2 id="servlet-context" class="heading-secondary u-mb-2">Servlet Context</h2>
        <p class="paragraph u-mb-2">Kromě toho, že můžeme RequestDispatcher objekt získat z HttpServletRequest objektu, tak jej můžeme získat i ze <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletContext.html" target="_blank" class="link">ServletContextu</a>. Servlet context je v podstatě adresář, ve kterém jsou na serveru servlety umístěny. Servlety, které máme v jednom projektu vlastně patří do stejného servlet contextu. Můžeme mít na serveru více aplikací a tedy i více servlet contextů.</p>
        <p class="paragraph u-mb-4">Při spuštění aplikace vytváří web container objekt typu <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletContext.html" target="_blank" class="link">ServletContext</a>, ke kterému můžeme v servletu získat referenci pomocí metody <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/GenericServlet.html#getServletContext--" target="_blank" class="link">getServletContext</a>. ServletContext objekt definuje metody, které může servlet použít ke komunikaci se servlet containerem. Můžeme jej například použít k získání konfiguračních informací z web.xml. Pro jednu webovou aplikaci existuje jen jeden ServletContext objekt.</p>
        <h3 id="context-parametry" class="heading-tertiary u-mb-1">Context parametry</h3>
        <p class="paragraph u-mb-2">Tato část je sice o komunikaci mezi servlety, ale myslím si, že se tu hodí také zmínit, jakým způsobem můžeme mezi servlety sdílet konfigurační parametry z web.xml. Slouží k tomu element jménem context-param. Pomocí jeho podelementu param-name definujeme název parametru, a pomocí podelementu param-value definujeme hodnotu parametru.</p>
        <p class="paragraph u-mb-2">Pro ukázku si založíme nový Maven projekt, ve kterém si soubor web.xml vytvoříme a nadefinujeme context parametr. Následující ukázka ukazuje, jak to můžeme udělat.</p>
        <%- include("./includes/context-params-code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Teď si můžeme vytvořit servlet a parametr v něm použít. Jelikož se jedná o context parametr, tak jej budeme moci použít v jakémkoliv servletu. Nejedná se o inicializační parametr pro servlet, o kterém jste se mohli dozvědět v jedné z předešlích částí. Náš servlet můžeme pojmenovat třeba jako MujServlet. Implementujeme mu metodu doGet, ve které získáme pomocí metody getServletContext servlet context a poté z něj získáme parametr, který použijeme na stránce, kterou vygenerujeme. Následující ukázka servlet ukazuje.</p>
        <%- include("./includes/context-params-code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Ve web.xml můžeme servlet namapovat třeba na "/", což zapříčiní, že se bude volat vždycky.</p>
        <%- include("./includes/context-params-code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Pokud si aplikaci spustíte a navštívíte <a href="http://localhost:8080/context-parametry/" target="_blank" class="link">http://localhost:8080/context-parametry/</a>, tak uvidíte na stránce vypsaný text, který jste v souboru web.xml nastavili jako parametr.</p>
        <img src="../../static/img/screenshots/ContextParametrStranka.png" alt="Stránka s textem podle context parametru" class="image image--full-width image--with-border u-mb-4">
        <h3 id="rozdil-mezi-request-dispatcherem-ze-servlet-requestu-a-servlet-contextu" class="heading-tertiary u-mb-1">Rozdíl mezi request dispatcherem ze servlet requestu a servlet contextu</h3>
        <p class="paragraph u-mb-4">Rozhraní ServletContext také definuje metodu getRequestDispatcher, stejně jako ServletRequest, kterou můžeme použít k získání objektu typu RequestDispatcher. Jsou v tom nějaké rozdíly. RequestDispatcher získaný ze ServletRequestu například nemůžeme použít mimo aktuální servlet context, ale RequestDispatcher získaný ze ServletContextu můžeme. Jaký je v tom rozdíl si můžete přečíst třeba na <a href="https://way2java.com/servlets/difference-between-requestdispatcher-from-servletrequest-and-servletcontext/" target="_blank" class="link">této stránce</a>. Přiznám se že tomu moc nerozumím.</p>
        <h2 id="metoda-forward" class="heading-secondary u-mb-2">Metoda forward</h2>
        <p class="paragraph u-mb-2">Jak jste se již mohli dočíst, tak rozhraní RequestDispatcher definuje metodu forward a include. Již jsem tak nějak popsal k čemu slouží. Pomocí metody forward můžeme request předat ke zpracování na jiný servlet. Teď si zkusíme pro ukázku vytvořit projekt, ve kterém metodu forward použijeme.</p>
        <p class="paragraph u-mb-2">V našem projektu budeme mít dva servlety. První vygeneruje náhodné číslo a druhý toto číslo zobrazí. Začneme tím, že si vytvoříme ten první. Můžeme jej pojmenovat třeba jako NahodneCisloServlet. Věci, které v tomto tutoriálu děláme, jsou samozřejmě blbosti. V praxi byste něco takového neprogramovali. Nám tu jde jen o to, abychom si na jednoduchých příkladech vyzkoušeli, jak věci fungují. Následující ukázka servlet ukazuje. Na začátku se vygeneruje náhodné číslo, které se potom nastaví jako atribut requestu metodou <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html#setAttribute-java.lang.String-java.lang.Object-" target="_blank" class="link">setAttribute</a> aby se k němu druhý servlet dostal. Také se metodou getRequestDispatcher získává RequestDispatcher pro servlet, který později vytvoříme a volá se metoda forward, aby se request na tento servlet předal ke zpracování.</p>
        <%- include("./includes/forward-method-code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Teď můžeme vytvořit servlet, na který se v prvním servletu volá metoda forward. Pojmenujeme jej jako ZobrazCisloServlet. Tento servlet jen získá atribut "nahodneCislo" pomocí metody <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletRequest.html#getAttribute-java.lang.String-" target="_blank" class="link">getAttribute</a>, který nastavil předchozí servlet a vypíše jej na stránku.</p>
        <%- include("./includes/forward-method-code-box-2.ejs") %>
        <p class="paragraph u-mb-2">Na závěr ještě vytvoříme soubor web.xml a servlety namapujeme.</p>
        <%- include("./includes/forward-method-code-box-3.ejs") %>
        <p class="paragraph u-mb-2">Po spuštění aplikace a otevření <a href="http://localhost:8080/metoda-forward/nahodne-cislo" target="_blank" class="link">http://localhost:8080/metoda-forward/nahodne-cislo</a> byste měli vidět stránku s vygenerovaným náhodným číslem.</p>
        <img src="../../static/img/screenshots/MetodaForwardNahodneCisloStranka.png" alt="Stránka s náhodným číslem" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-2">Naše aplikace obsahuje jeden problém. Pokud navštívíme <a href="http://localhost:8080/metoda-forward/zobraz-cislo" target="_blank" class="link">http://localhost:8080/metoda-forward/zobraz-cislo</a> (servlet ZobrazCisloServlet), tak nám server vrátí chybu (response se status kódem 500). Atribut "nahodneCislo" totiž není nastavený a metoda getAttribute tedy vrátí null.</p>
        <img src="../../static/img/screenshots/MetodaForwardZobrazCisloStrankaChyba.png" alt="Chybová stránka" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-4">Nechceme aby servlet ZobrazCisloServlet mohli uživatelé zavolat přímo. Je pouze používán jinými servlety. V příští části, která je o filtrech, se dozvíte, jak můžete k některým servletům přístup omezit.</p>
        <h2 id="metoda-include" class="heading-secondary u-mb-2">Metoda include</h2>
        <p class="paragraph u-mb-2">Jak použít metodu forward jsme si ukázali. Teď si vytvoříme projekt, kde použijeme metodu include. Ta slouží k tomu, že můžeme request předat ke zpracování do jiného servletu, který nám může třeba něco nastavit do response, a poté pokračovat ve zpracování requestu.</p>
        <p class="paragraph u-mb-2">Pro ukázku si vytvoříme servlet, který bude vytvářet HTML stránku voláním různých dalších servletů. Jeden servlet vytvoří začátek stránky, další její obsah a poslední konec stránky. Začneme tím, že si založíme nový Maven projekt a vytvoříme servlet, který pojmenujeme třeba jako StrankaServlet. Tento servlet bude používat ostatní servlety pro sestavení stránky. Následující ukázka ukazuje jeho kód. Je úplně jednoduchý. Jen se získá RequestDispatcher pro jednotlivé servlety a zavolá se metoda include.</p>
        <%- include("./includes/include-method-code-box-1.ejs") %>
        <p class="paragraph u-mb-2">Teď vytvoříme servlety pro sestavení jednotlivých částí stránky. Ukazují je následující ukázky.</p>
        <%- include("./includes/include-method-code-box-2.ejs") %>
        <%- include("./includes/include-method-code-box-3.ejs") %>
        <%- include("./includes/include-method-code-box-4.ejs") %>
        <p class="paragraph u-mb-2">Teď již zbývá jen vytvořit soubor web.xml a servlety namapovat. Ukazuje jej následující ukázka.</p>
        <%- include("./includes/include-method-code-box-5.ejs") %>
        <p class="paragraph u-mb-2">Po spuštění aplikace a navštívení <a href="http://localhost:8080/metoda-include/stranka" target="_blank" class="link">http://localhost:8080/metoda-include/stranka</a> se vám zobrazí vygenerovaná stránka.</p>
        <img src="../../static/img/screenshots/MetodaIncludeStranka.png" alt="Vygenerovaná stránka" class="image image--full-width image--with-border u-mb-2">
        <p class="paragraph u-mb-4">Stejně jako v ukázce pro metodu forward, tak i zde máme problém s tím, že uživatel může navštívit i servlety, které by neměl. Může navštívit třeba <a href="http://localhost:8080/metoda-include/page-start" target="_blank" class="link">http://localhost:8080/metoda-include/page-start</a> a vrátí se mu jen začátek stránky. Jak jsem již psal, tak v příští části se dozvíte, jak k některým servletům přístup omezit.</p>
        <h2 id="presmerovani" class="heading-secondary u-mb-2">Přesměrování</h2>
        <p class="paragraph u-mb-2">Kromě toho, že můžeme komunikovat mezi servlety pomocí request dispatcheru, tak je tu i jiná možnost. Již jsme se s ní v tutoriálu potkaly. Můžeme použít metodu <a href="https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletResponse.html#sendRedirect-java.lang.String-" target="_blank" class="link">sendRedirect</a> HttpServletResponse objektu k přesměrování na jinou stránku. Tato metoda posílá HTTP response se <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/302" target="_blank" class="link">status kódem 302</a>. Ten klientovi (prohlížeči) naznačuje, že má provést request na jinou URL (tato URL se předává v headeru jménem Location). Můžeme tedy uživatele přesměrovat na jiný servlet tím, že mu řekneme aby na něj poslal request. Nejedná se tedy o komunikaci mezi servlety na serveru, ale probíhá přes klienta.</p>
        <p class="paragraph u-mb-2">Použití metody sendRedirect je jednoduché a již jsme ji v minulé části použili. Nebudeme tedy vytvářet žádný projekt, následující ukázka jen ukazuje její použití.</p>
        <%- include("./includes/send-redirect-code-box.ejs") %>
        <p class="paragraph u-mb-4">V této části jste se dozvěděli, jakým způsobem můžete komunikovat mezi servlety. Narazili jsme ale na problém. Nechceme uživatelům umožnit, aby měli k některým servletům přímý přístup. Proto se v příští části podíváme na filtry.</p>
        <div class="u-text-center">
            <a href="../filtry/" class="button-primary">Pokračovat na další část</a>
        </div>
    <%- include("../../includes/tutorial-page-layout-end.ejs") %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>