<div class="tutorial-page-layout">
    <div class="tutorial-page-layout__container">
        <nav class="tutorial-page-layout__navigation-side">
            <ul class="navigation">
                <li>
                    <a href="<%= pathToTutorialFolder %>priprava-pro-vyvoj" class="navigation__link <% if (locals.activeLink === "priprava-pro-vyvoj") { %>navigation__link--active<% } %>">Příprava pro vývoj</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>uvod-do-servletu" class="navigation__link <% if (locals.activeLink === "uvod-do-servletu") { %>navigation__link--active<% } %>">Úvod do Servletů</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>http-servlet" class="navigation__link <% if (locals.activeLink === "http-servlet") { %>navigation__link--active<% } %>">HTTP Servlet</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>sledovani-relace" class="navigation__link <% if (locals.activeLink === "sledovani-relace") { %>navigation__link--active<% } %>">Sledování relace</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>komunikace-mezi-servlety" class="navigation__link <% if (locals.activeLink === "komunikace-mezi-servlety") { %>navigation__link--active<% } %>">Komunikace mezi Servlety</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>filtry" class="navigation__link <% if (locals.activeLink === "filtry") { %>navigation__link--active<% } %>">Filtry</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>uvod-do-jsp" class="navigation__link <% if (locals.activeLink === "uvod-do-jsp") { %>navigation__link--active<% } %>">Úvod do JSP</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jsp-tagy-a-implicitni-objekty" class="navigation__link <% if (locals.activeLink === "jsp-tagy-a-implicitni-objekty") { %>navigation__link--active<% } %>">JSP tagy a implicitní objekty</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jsp-direktivy" class="navigation__link <% if (locals.activeLink === "jsp-direktivy") { %>navigation__link--active<% } %>">JSP direktivy</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jsp-action-tagy" class="navigation__link <% if (locals.activeLink === "jsp-action-tagy") { %>navigation__link--active<% } %>">JSP action tagy</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jsp-custom-tagy" class="navigation__link <% if (locals.activeLink === "jsp-custom-tagy") { %>navigation__link--active<% } %>">JSP custom tagy</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jsp-expression-language" class="navigation__link <% if (locals.activeLink === "jsp-expression-language") { %>navigation__link--active<% } %>">JSP expression language</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>jstl" class="navigation__link <% if (locals.activeLink === "jstl") { %>navigation__link--active<% } %>">JSTL</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>mvc-vzor" class="navigation__link <% if (locals.activeLink === "mvc-vzor") { %>navigation__link--active<% } %>">MVC vzor</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>struts-framework" class="navigation__link <% if (locals.activeLink === "struts-framework") { %>navigation__link--active<% } %>">Struts framework</a>
                </li>
                <li>
                    <a href="<%= pathToTutorialFolder %>prace-s-databazi" class="navigation__link <% if (locals.activeLink === "prace-s-databazi") { %>navigation__link--active<% } %>">Práce s databází</a>
                </li>
            </ul>
        </nav>
        <main class="tutorial-page-layout__content">